img{
	width: 30%;
	border-style: solid;
	border-color: white;
	
}
header{
	font-size: 20px;
	flex-direction: column;
	display:flex;
	border-radius: 20px;
	color: white;
	background-color: transparent;
	backdrop-filter: blur(4px);

}
body{
	Background-color: #0c192a;
	font-family: sans-serif;
	background-size: cover;
	background-position: center;	
	background-repeat: no-repeat;
	background-attachment: fixed;
	backdrop-filter: blur(5px);
	border-radius: 8px;
	padding: 15px;
	margin: -15px;
	background-image: url('https://images.wallpapersden.com/image/download/anime-night-digital-art-hd-landscape_bWdnaG6UmZqaraWkpJRmbmdlrWZlbWU.jpg');
}
a{
	color: white;
	text-decoration: none;
	margin: 10px;
}
a:hover{
	color: #a07530;
	background-color: transparent;
	border-style: solid;
	border-radius: 15px;
}
p{
	color: white;
	padding: 30px; 
	font-size: 18px;
	float: center;
	margin-right: 1em;
	margin-left: 1em;
	font-family: Brush Script MT;
}
img:hover{
	position: relative;
	margin: 10px;
	transform: scale(1.1);
	cursor: pointer;
}
img{
	width: 30%;
	border-style: solid;
	border-color: white;
	float: center;
	margin-right: 1em;
	margin-left: 1em;
	transition: 0.5s;
}
h1{
	font-family: Lucida Handwriting;
	color: white;
}