img{
	width: 30%;
	border-style: solid;
	border-color: white;
	float: center;
	transition: 0.5s;
	
}
img:hover{
	position: relative;
	margin: 10px;
	transform: scale(1.1);
	cursor: pointer;
}
header{
	font-size: 25px;
	flex-direction: column;
	display:flex;
	color: white;

}
body{
	Background-color: #060b07;
	font-family: sans-serif;

}
p{
	color: white;
	font-size: 19px;
}
a{
	font-size: 20px;
	color: white;
	text-decoration: none;
	margin: 15px;
}
a:hover{
	color: white;
	background-color: transparent;
	border-style: solid;
	border-radius: 15px;
	padding: 10px;	
	position: relative;
	margin: 10px;
	transform: scale(1.1);
	cursor: pointer;
}
