img{
	width: 30%;
	border-style: solid;
	border-color: white;
	float: center;
	transition: 0.5s;
	
}
img:hover{
	position: relative;
	margin: 10px;
	transform: scale(1.1);
	cursor: pointer;
}
header{
	font-size: 25px;
	flex-direction: column;
	display:flex;
	color: white;

}
body{
	Background-color: #000000;
	font-family: sans-serif;
	background-image: url('https://c4.wallpaperflare.com/wallpaper/147/871/818/digital-digital-art-artwork-illustration-drawing-hd-wallpaper-preview.jpg');
	background-size: cover;
	background-position: center;	
	background-repeat: no-repeat;
	background-attachment: fixed;
	backdrop-filter: blur(4px);
	border-radius: 8px;
	margin: 1px;
}
p{
	color: white;
	font-size: 18px;
	font-family: Brush Script MT;
}
a{
	font-size: 20px;
	color: white;
	text-decoration: none;
}
a:hover{
	color: white;
	background-color: transparent;
	border-style: solid;
	border-radius: 15px;
	padding: 10px;	
	position: relative;
	margin: 10px;
	transform: scale(1.1);
	cursor: pointer;
}
h1{
	font-family: Lucida Handwriting;
}