img{
	width: 30%;
	border-style: solid;
	border-color: white;
	float: center;
	margin-right: 1em;
	margin-left: 1em;
	transition: 0.5s;
}
img:hover{
	position: relative;
	margin: 10px;
	transform: scale(1.1);
	cursor: pointer;
}
header{
	font-size: 20px;
	flex-direction: column;
	display:flex;
	border-radius: 20px;
	color: white;

}
body{
	Background-color: #7e1298;
	font-family: sans-serif;
	background-image: url('https://images.unsplash.com/photo-1699067158959-05994d913d35?fm=jpg&q=60&w=3000&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxzZWFyY2h8Mnx8c3VwcmElMjBtazV8ZW58MHx8MHx8fDA%3D');
	background-size: cover;
	background-position: center;	
	background-repeat: no-repeat;
	background-attachment: fixed;
	backdrop-filter: blur(4px);
	border-radius: 8px;
	margin: -15px;
	padding: 20px;
}
a{
	color: white;
	text-decoration: none;
	margin: 25px;
	background-color: transparent;
	transition: 0.5s;
}
a:hover{
	color: white;
	background-color: transparent;
	border-style: solid;
	border-radius: 15px;
	padding: 15px;
	position: relative;
	cursor: pointer;
	box-shadow: 0px 2px 8px 2px;
	transform: scale(1.02);
	transition: all .1 ease-in-out;
}
h1{
	font-family: Lucida Handwriting;
	margin: 20px;
}
h2{
	color: white;
	font-family: Lucida Handwriting;
	font-size: 40px;
}
h3{
	color: white;
	font-family: Lucida Handwriting;
}
p{
	color: white;
	font-family: Lucida Handwriting;
}
h4{
	color: white;
	font-size: 20px;
	font-family: Lucida Handwriting;
}
h5{
	font-size: 20px;
	color: white;
	font-family: Lucida Handwriting;
}

.first-photo{
	width: 450px;
	border-radius: 50%;
	border: 18px solid transparent;
	
}
.second-photo{
	width: 490px;
	border-radius: 10%;
	border: 18px solid transparent;
}
.third-photo{
	width: 490px;
	border-radius: 10%;
	border: 18px solid transparent;
}
.last-photo{
	width: 480px;
	border-radius: 10%;
	border: 18px solid transparent;
}